@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
.icast .player-wpr {
	max-width: 428px;
	min-width: 270px;
	height: 428px;
	background-color: #000;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	position: relative;
	margin: 0 auto;
	border-radius: 8px;
	overflow: hidden;
}
.icast .player-ctr {
	height: 428px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.icast .blur {
	width: 100%;
	height: 428px;
	background-size: cover;
	position: absolute;
	top: 0;
	-webkit-filter: blur(20px):
	-ms-filter: blur(20px);
	filter: blur(20px);
	transform: scale(1.15);
	opacity: 0.94;
	z-index: 1;
}
.icast .album-cover-wpr {
	width: 210px;
	margin: 0 auto;
}
.icast .album-cover {
	width: 210px;
	height: 210px;	
	background: url(../img/cover.png);
	background-size: 100% 100%;
	position: relative;
	margin: 22px auto 0 auto;		
	border-radius: 4px;
	-webkit-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	z-index: 2;
}
.icast .track-info-wpr {
	max-width: 440px;
	height: 40px;
	box-sizing: border-box;
	color: rgba(255,255,255,1);
	font-size: 28px;
	text-align: center;
	position: relative;
	margin: 0 60px;
	margin-top: 28px;
	padding-top: 3px;
	border-left: 1px solid rgba(255,255,255,.87);
	border-right: 1px solid rgba(255,255,255,.87);
	overflow: hidden;
	z-index: 4;
}
.icast .track-info-ctr {
	max-width: 280px;	
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.icast .songtitle {
	color: rgba(255,255,255,.7);
}
.icast .artist-name {
	color: rgba(255,255,255,1);
}
.icast .servertitle {
	max-width: 400px;
	font-size: 14px;
	color: rgba(255,255,255,.54);
	text-align: center;
	position: absolute;
	left: 0; 
	right: 0;
	bottom: 108px;
	margin: 0 auto;
}
.icast .listeners {
	max-width: 100px;
	font-size: 14px;
	color: rgba(255,255,255,.7);
	position: absolute;
	top: 32px;
	right: 22px;
}
.icast .listeners:before {
	content: "\f0c0";
	font-size: 14px;
	padding-right: 6px;
	vertical-align: top;
}
.icast .ppBtn {
	width: 64px;
	height: 64px;
	background-position: center center;
	position: absolute;
	bottom: 20px;	
	left: 0; 
	right: 0;
	margin: 0 auto;
	border: 4px solid rgba(255,255,255,.2);
	border-radius: 50%;
	cursor: pointer;
}
.icast .ppBtn:before {
	content: "";
	width: 60px;
	height: 60px;
	background-color: rgba(255,255,255,.54);
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	transition: background-color ease 0.5s;
}
.icast .ppBtn:hover:before {
	background-color: rgba(255,255,255,.44);
}
.icast .play-btn {
	background: url(../img/play.svg);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 42px 42px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s; 
    transition: background 0.5s;
}
.icast .stop-btn {
	background: url(../img/pause.svg);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 42px 42px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s; 
    transition: background 0.5s;
}
.icast .icons-left-wpr {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 11;
}
.icast .icons-right-wpr {
	text-align: left;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 11;
}
.icast .icons-left {
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: rgba(255,255,255,.92);
	text-align: center;
	margin-right: 28px;
	cursor: pointer;
}
.icast .icons-right {
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: rgba(255,255,255,.92);
	text-align: left;
	margin-left: 28px;
	cursor: pointer;
}
.icast .icons-serverinfo:before {
	content: "\f0c9";
}
.icast .icons-history:before {
	content: "\f1da";
}
.icast .icons-share:before {
	content: "\f1e0";
}
.icast .icons-volume1:before {
	content: "\f026";
}
.icast .icons-volume2:before {
	content: "\f027";
}
.icast .icons-volume3:before {
	content: "\f028";
}
.icast .icons-volumeM {
	display: none;
}
.icast .icons-volumeM:before {
	content: "\f028";
}
.icast .icons-volumeM2:before {
	content: "\f026";
}
.icast .icons-close:before {
	content: "\f00d";
}
.icast .volume-slider {
	position: absolute;
	bottom: 95px;
	right: -20px;	
	display: none;
	z-index: 10;
}
.icast input[type=range] {
	width: 90px;
	height: 6px;
	background: none;
	padding: 6px 0px 6px 0px;
	transform: rotate(-90deg);
    transform-origin: bottom; 
	-webkit-appearance: none;
	cursor: pointer;
}
.icast input[type=range]:focus {
	outline: none;
}
.icast input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	background: rgba(255,255,255,.54);
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 8px;
	cursor: pointer;	
	animate: 0.2s;
}
.icast input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(255,255,255,.54);
}
.icast input[type=range]::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	background: #ccc;
	margin-top: -5px;
	border: 5px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	-webkit-appearance: none;
}
.icast input[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	background: rgba(255,255,255,.54);
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	animate: 0.2s; 
}
.icast input[type=range]::-moz-range-thumb {
	width: 6px;
	height: 6px;
	background: #ccc;
	border: 5px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.icast input[type=range] {
		width: 90px;
		height: 16px;
		background: none;
		margin-top: 0px;
		padding: 6px 0px 6px 0px; 
		cursor: pointer;
	}
}
.icast input[type=range]::-ms-tooltip {
	display: none; 
}
.icast input[type=range]::-ms-track {
	width: 100%;
	height: 6px;
	background: transparent;
	color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	border-color: transparent;
	cursor: pointer;
	animate: 0.2s;  
}
.icast input[type=range]::-ms-fill-lower {
	background: rgba(255,255,255,.54);
	border: 0;
	border-radius: 8px;
}
.icast input[type=range]::-ms-fill-upper {
	background: rgba(255,255,255,.54);
	border: 0;
	border-radius: 8px;
}
.icast input[type=range]::-ms-thumb {
	width: 6px;
	height: 6px;
	background: #ccc;
	border: 5px solid #fff;
	border-radius: 50%;  
	cursor: pointer;
}
.icast input[type=range]:focus::-ms-fill-lower {
	background: rgba(255,255,255,.54);
}
.icast input[type=range]:focus::-ms-fill-upper {
	background: rgba(255,255,255,.54);
}
.icast .history-wpr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 22px auto 0 auto;
	z-index: 5;
}
.icast .history-title {
	font-size: 28px;
	color: rgba(255,255,255,1);
	margin: 0 22px 15px 22px;
	padding-bottom: 5px;	
	border-bottom: 1px solid rgba(255,255,255,.7);
}
.icast .row-wpr {
	height: 50px;
	background-color: rgba(255,255,255,.2);
	position: relative;
	margin: 0 22px 9px 22px;	
	border-radius: 5px;
}
.icast .history-cover {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 6px;
	left: 8px;
	border-radius: 50%;
}
.history-track-info {
	text-align: left;
	padding-left: 55px;
	padding-top: 5px;
}
.icast .history-songtitle {
	max-width: 300px;
	font-size: 19px;	
	color: rgba(255,255,255,1);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.icast .history-artist-name {
	max-width: 300px;
	font-size: 16px;
	color: rgba(255,255,255,.7);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.icast .rowNum {
	width: 38px;
	height: 50px;
	font-size: 42px;
	color: rgba(255,255,255,.2);
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.icast .social-share-wpr {
	width: 210px;
	height: 210px;	
	box-sizing: border-box;
	background-color: rgba(0,0,0,.3);
	color: #fff;
	font-size: 18px;
	line-height: 30px;	
	text-align: center;
	position: absolute;
	top: 22px;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 70px 0;
	border-radius: 4px;
	overflow: hidden;
	display: none;
	z-index: 11;
}
.icast .social-link {
	width: 38px;
	height: 38px;
	font-size: 24px;
	color: #fff;
	line-height: 38px;
	text-decoration: none;
	margin: 0 4px;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	
}
.icast .social-link-facebook {
	background: #3F51B5;
}
.icast .social-link-facebook:before {
	content: "\f09a";
}
.icast .social-link-twitter {
	background: #2196F3;
}
.icast .social-link-twitter:before {
	content: "\f099";
}
.icast .display {
	display: block;
}
.icast .nodisplay {
	display: none;
}

/* Responsive classes */
@media only screen and (max-width: 600px) {
	.icast .track-info-wpr {
		margin: 28px 42px 0 42px;
	}
	.icast .listeners {
		max-width: 100px;
		font-size: 12px;
		color: rgba(255,255,255,.7);
		position: absolute;
		top: 32px;
		right: 16px;
	}
	.icast .listeners:before {
		content: "\f0c0";
		font-size: 12px;
		padding-right: 5px;
		vertical-align: top;
	}
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.bounceIn {
  animation-duration: .75s;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-name: bounceIn;
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
.marquee {
  white-space: nowrap;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  left: 50%;
  padding-top: 0px;
  animation: linear infinite;
  overflow: hidden;
  text-align: left;
  animation-duration: 10s;
  animation-name: movement-smooth;
  animation-direction: normal;
}
.marquee:hover { 
	animation-play-state: paused 
}
.marquee.marquee-speed-custom:before {
  animation-duration: inherit;
}
.marquee.marquee-speed-normal:before {
  animation-duration: 10s;
}
@keyframes movement-smooth {
  from {
    transform: translateX(0%);
    left: 100%;
  }
  to {
    transform: translateX(-100%);
    left: 0%;
  }
}
.marquee.marquee-movement-smooth:before {
  animation-name: movement-smooth;
}
.marquee.marquee-direction-left:before,
.marquee.marquee-direction-normal:before {
  animation-direction: normal;
}